body {
	background: url(../images/onlinetest/body.jpg) no-repeat;
	background-position: top center;
	background-size: contain;
}

#main {
	width: 800px;
	margin: auto;
}

#header {
	width: 800px;
	height: 160px;
	margin-bottom: 10px;
	background-image: url(../images/ManagementSystem/headers.jpg)
}
table.altrowstable {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}

table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}

.oddrowcolor {
	background-color: #d4e3e5;
}

.evenrowcolor {
	background-color: #c3dde0;
}
li {
	margin-bottom: 5px;
	font-size: 14px;
}
ul{
	list-style-type:none;
	border-style: solid;
	border-color:lightblue;
	border-width: 1px;
}
.error{
color: red;	
}